# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = SpicyRicecaker
	email = awesomenessisgolden@gmail.com
[credential "https://github.com"]
	helper = !gh auth git-credential
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
