[user]
    email = awesomenessisgolden@gmail.com
    name = SpicyRicecaker
[core]
    editor = code --wait
[alias]
    aa = add -A
    cm = commit
    pu = push origin master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictstyle = diff3
